.contactContainer {
    background-image: url('/Contatcts.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100%;
    position: relative;
    overflow: auto;
    padding: 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
}

.error {
    color: #a00;
}

.succes{
    color : green;
}

.contactHeader, .otherContact {
    text-align: center;
    padding-bottom: 20px;
    font-weight: bold
}

.contactHeader h1 {
    color: white;
    font-size: 2rem;
    font-weight: bold
}

.contactHeader p , .otherContact p {
    color: white;
}

.contactForm {
    display: grid;
    grid-gap: 20px;
    padding: 20px;
    width: 50%;
    margin: auto;
}

.inputGroup {
    display: flex;
    justify-content: space-between;
}

.inputGroup input[type="text"],
.inputGroup input[type="email"],
.inputGroup input[type="tel"] {
    width: 48%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contactForm select,
.contactForm textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contactForm button {
    background-color: #0056b3;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contactForm button:hover {
    background-color: #003d82;
}

.mapContainer img {
    width: auto;
    height: auto; 
    margin-top: 10px;
}

@media (max-width: 768px) {
    .inputGroup {
    flex-direction: column;
    }

    .inputGroup input[type="text"],
    .inputGroup input[type="email"],
    .inputGroup input[type="tel"] {
    width: 100%;
    }
}